body{
  background-color:#181818 ;
}

nav{
  display: flex;
  justify-content: space-between;
  font-weight: 400;
}
nav .logo {
  font-size: large;
  font-family: sans-serif;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  margin: 13px 8px;
  color: #6456ff;
}
nav ul li{
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
  color: #6456ff;
  margin: 0 8px;
}
nav ul li a{
  font-weight: 400;
  color: #6456ff;
  font-size: medium;
  font-family: sans-serif;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}
img{
  border-radius: 9px;
  margin: 50px 10px;
  width: 250px;
}
p{
  color:#6456ff ;
  font-weight: 500;
  font-family: sans-serif;
}
button {
  --primary-color: #645bff;
  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
}

button .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

button .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

button .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

button:hover {
  background-color: var(--hover-color);
}

button:hover .arrow {
  background: var(--secondary-color);
}

button:hover .arrow:before {
  right: 0;
}
 